In [1]:
import pandas as pd
import numpy as np

txn_df = pd.read_csv("/kaggle/input/initai/transactions.csv")
prod_df = pd.read_csv("/kaggle/input/initai/products.csv")
cust_df = pd.read_csv("/kaggle/input/initai/customers.csv")

print("Transactions dataset size:", txn_df.shape)
print("Products dataset size:", prod_df.shape)
print("Customers dataset size:", cust_df.shape)

Transactions dataset size: (10015, 7)
Products dataset size: (150, 5)
Customers dataset size: (2000, 6)

In [2]:
print("\nTransactions - column data types:")
print(txn_df.dtypes)

print("\nProducts - column data types:")
print(prod_df.dtypes)

print("\nCustomers - column data types:")
print(cust_df.dtypes)

Transactions - column data types:
transaction_id      int64
customer_id         int64
product_id          int64
quantity          float64
price             float64
timestamp          object
payment_method     object
dtype: object

Products - column data types:
product_id        int64
product_name     object
category         object
supplier_id       int64
cost_price      float64
dtype: object

Customers - column data types:
customer_id        int64
customer_name     object
email             object
signup_date       object
country           object
age              float64
dtype: object

In [3]:
print("\nTransactions Preview:")
display(txn_df.head(3))

print("\nProducts Preview:")
display(prod_df.head(3))

print("\nCustomers Preview:")
display(cust_df.head(3))

Transactions Preview:

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer

Products Preview:

   product_id   product_name category  supplier_id  cost_price
0           1  Product_OFF_0     Toys           28      113.16
1           2  Product_SPO_1    Books           43      166.06
2           3  Product_SPO_2    Books           47      128.13

Customers Preview:

,customer_id,customer_name,email,signup_date,country,age
0,1,Customer41,customer410@yahoo.com,2022-01-28,UK,30.0
1,2,Custome41,custome411@email.com,2023-10-28,Mexico,29.0
2,3,customer41,customer412@email.com,2023-04-05,Australia,69.0

In [ ]:


print("Missing values per column:\n")

print("Transactions:")
print(txn_df.isna().sum(), "\n")

print("Products:")
print(prod_df.isna().sum(), "\n")

print("Customers:")
print(cust_df.isna().sum())

Missing values per column:

Transactions:
transaction_id      0
customer_id         0
product_id          0
quantity           97
price             102
timestamp           0
payment_method    101
dtype: int64

Products:
product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64

Customers:
customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64

In [ ]:



dup_flags = txn_df.duplicated(subset=["transaction_id"])
print("\nDuplicate flags for each row:")
print(dup_flags)


print("\nTotal duplicate transaction IDs:", dup_flags.sum())

Duplicate flags for each row:
0        False
1        False
2        False
3        False
4        False
         ...
10010    False
10011    False
10012    False
10013    False
10014    False
Length: 10015, dtype: bool

Total duplicate transaction IDs: 15

In [ ]:



print("Earliest transaction timestamp:", txn_df["timestamp"].min())
print("Latest transaction timestamp:", txn_df["timestamp"].max())


txn_df["timestamp"] = pd.to_datetime(txn_df["timestamp"])

print("Updated dtype for timestamp:", txn_df["timestamp"].dtype)

Earliest transaction timestamp: 2023-01-01 00:39:00
Latest transaction timestamp: 2024-12-31 22:18:00
Updated dtype for timestamp: datetime64[ns]

In [ ]:


txn_df["hour_of_day"] = txn_df["timestamp"].dt.hour
txn_df["weekday"] = txn_df["timestamp"].dt.dayofweek
txn_df["month_num"] = txn_df["timestamp"].dt.month

display(txn_df.head())

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,hour_of_day,weekday,month_num
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,5,8
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,4,11
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,1,3
3,3485,432,73,1.0,72.20,2024-11-18 17:04:00,Cash,17,0,11
4,8929,248,11,1.0,315.22,2024-09-14 19:19:00,Cash,19,5,9

In [ ]:


print("Null values after transformation:\n")

print("Transactions:")
print(txn_df.isna().sum(), "\n")

print("Products:")
print(prod_df.isna().sum(), "\n")

print("Customers:")
print(cust_df.isna().sum())

Null values after transformation:

Transactions:
transaction_id      0
customer_id         0
product_id          0
quantity           97
price             102
timestamp           0
payment_method    101
hour_of_day         0
weekday             0
month_num           0
dtype: int64

Products:
product_id      0
product_name    0
category        3
supplier_id     0
cost_price      0
dtype: int64

Customers:
customer_id        0
customer_name      0
email             53
signup_date        0
country            0
age              100
dtype: int64

In [ ]:

txn_df["quantity"] = txn_df["quantity"].fillna(txn_df["quantity"].median())
txn_df["price"] = txn_df["price"].fillna(txn_df["price"].median())
txn_df["payment_method"] = txn_df["payment_method"].fillna(txn_df["payment_method"].mode()[0])

In [ ]:

print("Remaining null values in transactions:")
print(txn_df.isna().sum())

Remaining null values in transactions:
transaction_id    0
customer_id       0
product_id        0
quantity          0
price             0
timestamp         0
payment_method    0
hour_of_day       0
weekday           0
month_num         0
dtype: int64

In [ ]:


prod_df["category"] = prod_df["category"].fillna(prod_df["category"].mode()[0])

print("\nProduct data null check after imputation:")
print(prod_df.isna().sum())


cust_df["email"] = cust_df["email"].fillna(cust_df["email"].mode()[0])
cust_df["age"] = cust_df["age"].fillna(cust_df["age"].median())

print("\nCustomer data null check after imputation:")
print(cust_df.isna().sum())

Product data null check after imputation:
product_id      0
product_name    0
category        0
supplier_id     0
cost_price      0
dtype: int64

Customer data null check after imputation:
customer_id      0
customer_name    0
email            0
signup_date      0
country          0
age              0
dtype: int64

In [ ]:

txn_df["revenue_amt"] = txn_df["quantity"] * txn_df["price"]

In [ ]:

merged_txn = txn_df.merge(cust_df, on="customer_id", how="left")


final_df = merged_txn.merge(prod_df, on="product_id", how="left")

In [ ]:

final_df["profit_margin"] = ((final_df["price"] - final_df["cost_price"]) / final_df["price"]) * 100
print("Final merged dataframe shape:", final_df.shape)

Final merged dataframe shape: (10015, 21)

In [ ]:

print("\nPreview of merged dataset:")
display(final_df.head())

Preview of merged dataset:

,transaction_id,customer_id,product_id,quantity,price,timestamp,payment_method,hour_of_day,weekday,month_num,...,customer_name,email,signup_date,country,age,product_name,category,supplier_id,cost_price,profit_margin
0,4292,130,89,1.0,112.87,2024-08-17 09:13:00,Credit Card,9,5,8,...,Customer_129,customer_129129@yahoo.com,2023-12-20,Canada,40.0,Product_HOM_88,Books,2,59.72,47.089572
1,9107,271,98,1.0,211.90,2023-11-17 20:50:00,PayPal,20,4,11,...,Customer_270,customer_270270@email.com,2022-11-09,India,21.0,Product_BOO_97,Home & Garden,26,84.89,59.938650
2,7842,66,33,1.0,225.04,2023-03-21 23:23:00,Bank Transfer,23,1,3,...,Customer_65,customer_6565@email.com,2023-08-08,Canada,62.0,Product_BOO_32,Electronics,22,103.61,53.959296
3,3485,432,73,1.0,72.20,2024-11-18 17:04:00,Cash,17,0,11,...,Customer_431,customer_431431@gmail.com,2023-10-29,India,64.0,Product_OFF_72,Home & Garden,31,39.53,45.249307
4,8929,248,11,1.0,315.22,2024-09-14 19:19:00,Cash,19,5,9,...,Customer_247,customer_247247@company.com,2022-09-15,Mexico,64.0,Product_TOY_10,Clothing,14,127.00,59.710678

In [ ]:

print("Columns available in the final dataset:")
print(final_df.columns.tolist())

Columns available in the final dataset:
['transaction_id', 'customer_id', 'product_id', 'quantity', 'price', 'timestamp', 'payment_method', 'hour_of_day', 'weekday', 'month_num', 'revenue_amt', 'customer_name', 'email', 'signup_date', 'country', 'age', 'product_name', 'category', 'supplier_id', 'cost_price', 'profit_margin']

In [ ]:

cust_summary = (
    final_df.groupby(["customer_id", "customer_name", "email"])
    .agg(
        total_revenue_amt=("revenue_amt", "sum"),                
        total_orders=("transaction_id", "nunique"),               
        avg_spent_per_order=("revenue_amt", "mean"),              
        favorite_category=("category", lambda x: x.mode()[0] if not x.mode().empty else np.nan)
    )
    .reset_index()
)


cust_summary = cust_summary.sort_values(by="total_revenue_amt", ascending=False)

print("\nTop 5 customers by total revenue:")
display(cust_summary.head())

Top 5 customers by total revenue:

,customer_id,customer_name,email,total_revenue_amt,total_orders,avg_spent_per_order,favorite_category
88,89,Customer_88,customer_8888@email.com,48353.110000,5,9670.622000,Automotive
1436,1694,Customer_1693,customer_16931693@outlook.com,26777.860000,7,3825.408571,Automotive
398,399,Customer_398,customer_398398@gmail.com,25407.690000,44,577.447500,Toys
156,157,Customer_156,customer_156156@company.com,21446.540000,46,466.229130,Home & Garden
336,337,Customer_336,customer_336336@yahoo.com,20460.087386,39,524.617625,Toys

In [ ]:

print("\nDataset Overview:")
final_df.info()

Dataset Overview:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10015 entries, 0 to 10014
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   transaction_id  10015 non-null  int64
 1   customer_id     10015 non-null  int64
 2   product_id      10015 non-null  int64
 3   quantity        10015 non-null  float64
 4   price           10015 non-null  float64
 5   timestamp       10015 non-null  datetime64[ns]
 6   payment_method  10015 non-null  object
 7   hour_of_day     10015 non-null  int32
 8   weekday         10015 non-null  int32
 9   month_num       10015 non-null  int32
 10  revenue_amt     10015 non-null  float64
 11  customer_name   10015 non-null  object
 12  email           10015 non-null  object
 13  signup_date     10015 non-null  object
 14  country         10015 non-null  object
 15  age             10015 non-null  float64
 16  product_name    10015 non-null  object
 17  category        10015 non-null  object
 18  supplier_id     10015 non-null  int64
 19  cost_price      10015 non-null  float64
 20  profit_margin   10015 non-null  float64
dtypes: datetime64[ns](1), float64(6), int32(3), int64(4), object(7)
memory usage: 1.5+ MB

In [ ]:

final_df["month_period"] = final_df["timestamp"].dt.to_period("M")
print("Sample month_period column values:")
display(final_df["month_period"].head())

Sample month_period column values:

0    2024-08
1    2023-11
2    2023-03
3    2024-11
4    2024-09
Name: month_period, dtype: period[M]

In [ ]:

month_kpi = (
    final_df.groupby("month_period")
    .agg(
        total_revenue=("revenue_amt", "sum"),
        active_customers=("customer_id", pd.Series.nunique),
        total_orders=("transaction_id", "count"),
    )
    .reset_index()
)

month_kpi["avg_order_value"] = month_kpi["total_revenue"] / month_kpi["total_orders"]


month_kpi["revenue_growth_pct"] = month_kpi["total_revenue"].pct_change() * 100


month_kpi = month_kpi.sort_values("month_period")

print("\nMonthly KPIs:")
display(month_kpi)

Monthly KPIs:

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,month_period,total_revenue,active_customers,total_orders,avg_order_value,revenue_growth_pct
0,2023-01,193405.812589,349,485,398.774871,NaN
1,2023-02,165296.517903,313,427,387.111283,-14.533842
2,2023-03,183939.273323,341,460,399.867985,11.278372
3,2023-04,183610.501489,359,476,385.736348,-0.178739
4,2023-05,195409.945890,344,451,433.281476,6.426345
5,2023-06,186558.193322,350,451,413.654531,-4.529837
6,2023-07,153394.852946,318,407,376.891531,-17.776405
7,2023-08,158577.063314,329,409,387.718981,3.378347
8,2023-09,145291.399615,284,355,409.271548,-8.378049
9,2023-10,156503.762443,304,379,412.938687,7.717155
10,2023-11,172462.101563,324,404,426.886390,10.196777
11,2023-12,181516.220329,357,456,398.061887,5.249918
12,2024-01,157765.972932,345,423,372.969203,-13.084366
13,2024-02,140666.646030,296,354,397.363407,-10.838412
14,2024-03,176385.898387,326,412,428.121113,25.392837
15,2024-04,157555.769147,318,402,391.929774,-10.675530
16,2024-05,154913.459027,321,400,387.283648,-1.677063
17,2024-06,168012.746196,330,425,395.324109,8.455874
18,2024-07,157997.600478,315,389,406.163497,-5.960944
19,2024-08,192688.420757,327,401,480.519753,21.956549
20,2024-09,149507.433777,303,380,393.440615,-22.409747
21,2024-10,174136.154364,326,426,408.770315,16.473241
22,2024-11,161083.561508,351,426,378.130426,-7.495625
23,2024-12,168700.709894,335,417,404.558057,4.728694

In [ ]:

prod_perf = (
    final_df.groupby(["product_id", "product_name"])
    .agg(
        total_revenue=("revenue_amt", "sum"),
        total_units_sold=("quantity", "sum"),
        mean_profit_margin=("profit_margin", "mean"),
    )
    .reset_index()
)


top_rev_products = prod_perf.nlargest(10, "total_revenue")
top_sold_products = prod_perf.nlargest(10, "total_units_sold")
top_margin_products = prod_perf.nlargest(10, "mean_profit_margin")

print("\nTop 10 Products by Total Revenue:")
display(top_rev_products)

print("\nTop 10 Products by Quantity Sold:")
display(top_sold_products)

print("\nTop 10 Products by Average Profit Margin:")
display(top_margin_products)

Top 10 Products by Total Revenue:

,product_id,product_name,total_revenue,total_units_sold,mean_profit_margin
97,101,Product_OFF_100,95005.120000,431.0,42.570323
58,60,Product_OFF_59,78366.194739,1115.0,-28.056624
46,48,Product_OFF_47,71998.077896,542.0,-15.166955
112,116,Product_CLO_115,66416.407761,1209.0,-423.012763
89,92,Product_ELE_91,65408.500000,182.0,42.517918
121,125,Product_AUT_124,56546.750931,617.0,-10.584249
73,75,Product_ELE_74,55931.400000,160.0,41.706567
114,118,Product_AUT_117,55178.950000,215.0,46.104987
104,108,Product_OFF_107,54293.740000,162.0,43.971692
7,8,Product_TOY_7,52609.010000,250.0,43.239548

Top 10 Products by Quantity Sold:

,product_id,product_name,total_revenue,total_units_sold,mean_profit_margin
39,41,Product_SPO_40,12267.912999,1751.0,31.836810
36,38,Product_SPO_37,35250.288965,1475.0,-226.883944
37,39,Product_BOO_38,36993.146321,1252.0,-69.795111
112,116,Product_CLO_115,66416.407761,1209.0,-423.012763
128,132,Product_BOO_131,37658.621558,1133.0,-19.514640
26,28,Product_HOM_27,43135.583228,1122.0,-32.762244
127,131,Product_HOM_130,26517.363563,1118.0,-13.577050
58,60,Product_OFF_59,78366.194739,1115.0,-28.056624
45,47,Product_AUT_46,7826.665592,1106.0,29.267339
14,15,Product_BOO_14,34181.890967,992.0,-92.233456

Top 10 Products by Average Profit Margin:

,product_id,product_name,total_revenue,total_units_sold,mean_profit_margin
117,121,Product_AUT_120,8185.02,114.0,48.587045
83,86,Product_OFF_85,25423.32,128.0,47.394337
85,88,Product_CLO_87,5096.55,134.0,47.035482
100,104,Product_ELE_103,24525.85,148.0,46.875853
20,21,Product_TOY_20,21573.64,124.0,46.346305
114,118,Product_AUT_117,55178.95,215.0,46.104987
79,82,Product_OFF_81,8204.31,105.0,45.846472
81,84,Product_BOO_83,29955.75,116.0,45.717587
136,140,Product_FOO_139,3253.60,148.0,45.642149
137,141,Product_BEA_140,18838.93,129.0,45.570574

In [28]:
combined_df=final_df
print(combined_df.columns)

Index(['transaction_id', 'customer_id', 'product_id', 'quantity', 'price',
       'timestamp', 'payment_method', 'hour_of_day', 'weekday', 'month_num',
       'revenue_amt', 'customer_name', 'email', 'signup_date', 'country',
       'age', 'product_name', 'category', 'supplier_id', 'cost_price',
       'profit_margin', 'month_period'],
      dtype='object')

In [ ]:

recent_date = combined_df['timestamp'].max()


rfm_table = (
    combined_df.groupby('customer_id')
    .agg({
        'timestamp': lambda x: (recent_date - x.max()).days,    
        'transaction_id': 'count',                               
        'revenue_amt': 'sum'                                        
    })
    .rename(columns={'timestamp': 'recency_days', 
                     'transaction_id': 'frequency', 
                     'revenue_amt': 'monetary_value'})
    .reset_index()
)


rfm_table['R_rank'] = pd.qcut(rfm_table['recency_days'], 3, labels=['High', 'Medium', 'Low'])
rfm_table['F_rank'] = pd.qcut(rfm_table['frequency'], 3, labels=['Low', 'Medium', 'High'])
rfm_table['M_rank'] = pd.qcut(rfm_table['monetary_value'], 3, labels=['Low', 'Medium', 'High'])


rfm_table['RFM_Tag'] = (
    rfm_table['R_rank'].astype(str) + '-' + 
    rfm_table['F_rank'].astype(str) + '-' + 
    rfm_table['M_rank'].astype(str)
)


rfm_table['R_score'] = rfm_table['R_rank'].map({'Low': 1, 'Medium': 2, 'High': 3})
rfm_table['F_score'] = rfm_table['F_rank'].map({'Low': 1, 'Medium': 2, 'High': 3})
rfm_table['M_score'] = rfm_table['M_rank'].map({'Low': 1, 'Medium': 2, 'High': 3})


rfm_table['Total_RFM'] = rfm_table[['R_score', 'F_score', 'M_score']].sum(axis=1)


def classify_rfm(value):
    if value >= 8:
        return 'Loyal'
    elif value >= 5:
        return 'Active'
    else:
        return 'At Risk'

rfm_table['Segment'] = rfm_table['Total_RFM'].apply(classify_rfm)

print(rfm_table.head(20))

    customer_id  recency_days  frequency  monetary_value  R_rank  F_rank  \
0             1           320          5      1424.99000     Low  Medium
1             2            38          3       641.99000    High     Low
2             3            38         30     11180.42000    High    High
3             4           172          8      4383.63000  Medium    High
4             5           143          5      1920.98000  Medium  Medium
5             6            12          6      2640.97000    High  Medium
6             7           189          3      1415.49000     Low     Low
7             8           251          3       941.25000     Low     Low
8             9           243          4      3080.18000     Low  Medium
9            10             2         22      9368.61200    High    High
10           11             9         37     17411.17455    High    High
11           12           374          4      1320.49000     Low  Medium
12           13            25          5      1190.69000    High  Medium
13           14            33          3       505.32000    High     Low
14           15           132          4      1653.16000  Medium  Medium
15           16           182          4      1370.68000  Medium  Medium
16           17           256          6      3755.64000     Low  Medium
17           18            26          8      2881.70000    High    High
18           19            14         36     11140.27000    High    High
19           20            20         23      7292.82000    High    High

    M_rank               RFM_Tag R_score F_score M_score  Total_RFM  Segment
0   Medium     Low-Medium-Medium       1       2       2          5   Active
1      Low          High-Low-Low       3       1       1          5   Active
2     High        High-High-High       3       3       3          9    Loyal
3     High      Medium-High-High       2       3       3          8    Loyal
4   Medium  Medium-Medium-Medium       2       2       2          6   Active
5     High      High-Medium-High       3       2       3          8    Loyal
6   Medium        Low-Low-Medium       1       1       2          4  At Risk
7      Low           Low-Low-Low       1       1       1          3  At Risk
8     High       Low-Medium-High       1       2       3          6   Active
9     High        High-High-High       3       3       3          9    Loyal
10    High        High-High-High       3       3       3          9    Loyal
11  Medium     Low-Medium-Medium       1       2       2          5   Active
12  Medium    High-Medium-Medium       3       2       2          7   Active
13     Low          High-Low-Low       3       1       1          5   Active
14  Medium  Medium-Medium-Medium       2       2       2          6   Active
15  Medium  Medium-Medium-Medium       2       2       2          6   Active
16    High       Low-Medium-High       1       2       3          6   Active
17    High        High-High-High       3       3       3          9    Loyal
18    High        High-High-High       3       3       3          9    Loyal
19    High        High-High-High       3       3       3          9    Loyal

In [ ]:
def detect_irregular_transactions(df):
   
    flag_bulk = (df['quantity'] > 100) & (df['price'] < 10)

  
    hourly_counts = df.groupby(['customer_id', df['timestamp'].dt.floor('h')])['transaction_id'].transform('count')
    flag_hourly = hourly_counts > 3

    
    flagged = flag_bulk | flag_hourly

   
    cause = np.where(flag_bulk, 
                     "Unusual high-qty low-price pattern", 
                     np.where(flag_hourly, 
                              "Multiple rapid purchases in 1 hour", 
                              np.nan))

    flagged_df = df.loc[flagged, ['transaction_id', 'customer_name']].copy()
    flagged_df['reason'] = cause[flagged]

    return flagged_df

detect_irregular_transactions(combined_df)

      transaction_id  customer_name                              reason
27               358  Customer_1231  Multiple rapid purchases in 1 hour
108             7249   Customer_453  Multiple rapid purchases in 1 hour
161             5808  Customer_1893  Unusual high-qty low-price pattern
196             1871   Customer_555  Multiple rapid purchases in 1 hour
218             3269   Customer_622  Unusual high-qty low-price pattern
...              ...            ...                                 ...
9816            5188  Customer_1354  Multiple rapid purchases in 1 hour
9844            2366  Customer_1709  Multiple rapid purchases in 1 hour
9896            3999  Customer_1941  Unusual high-qty low-price pattern
9915            4483   Customer_999  Unusual high-qty low-price pattern
9927            5970   Customer_489  Unusual high-qty low-price pattern

[252 rows x 3 columns]

In [ ]:

daily_sales = (
    combined_df.groupby(combined_df['timestamp'].dt.date)['revenue_amt']
    .sum()
    .rename('daily_revenue')
    .to_frame()
)


daily_sales['7d_revenue_MA'] = daily_sales['daily_revenue'].rolling(window=7, min_periods=1).mean()

print(daily_sales.head(20))

            daily_revenue  7d_revenue_MA
timestamp
2023-01-01    8450.390000    8450.390000
2023-01-02    5574.010000    7012.200000
2023-01-03    3094.810000    5706.403333
2023-01-04    3792.090000    5227.825000
2023-01-05    4810.720000    5144.404000
2023-01-06    4537.730000    5043.291667
2023-01-07    4908.880000    5024.090000
2023-01-08    6719.040000    4776.754286
2023-01-09   12454.351883    5759.660269
2023-01-10    2885.540000    5729.764555
2023-01-11   12970.649899    7040.987397
2023-01-12    4980.560000    7065.250255
2023-01-13    6987.310000    7415.190255
2023-01-14    6112.080931    7587.076102
2023-01-15    5038.110000    7346.943245
2023-01-16    5466.830000    6348.725833
2023-01-17    7392.810000    6992.621547
2023-01-18    3343.720000    5617.345847
2023-01-19   13508.887600    6835.678362
2023-01-20    7058.730000    6845.881219

In [ ]:

combined_df['signup_date'] = pd.to_datetime(combined_df['signup_date'])


cust_profile = (
    combined_df.sort_values('timestamp')
    .groupby('customer_id')
    .agg(
        signup_date=('signup_date', 'first'),
        first_purchase=('timestamp', 'min'),
        last_purchase=('timestamp', 'max'),
        total_orders=('transaction_id', 'count'),
        category_variety=('category', pd.Series.nunique),
        most_used_payment=('payment_method', lambda x: x.mode()[0])
    )
)


cust_profile['days_to_first_purchase'] = (
    cust_profile['first_purchase'] - cust_profile['signup_date']
).dt.days


avg_gap = (
    combined_df.sort_values('timestamp')
    .groupby('customer_id')['timestamp']
    .apply(lambda s: s.diff().dt.days.mean())
)

cust_profile['avg_purchase_gap_days'] = avg_gap

cust_profile = cust_profile.reset_index()
print(cust_profile.head())

   customer_id signup_date      first_purchase       last_purchase  \
0            1  2022-01-28 2023-02-05 16:03:00 2024-02-15 05:18:00
1            2  2023-10-28 2023-10-30 06:36:00 2024-11-23 13:14:00
2            3  2023-04-05 2023-02-04 06:44:00 2024-11-23 03:16:00
3            4  2022-01-07 2023-04-28 16:11:00 2024-07-11 23:40:00
4            5  2022-12-15 2023-05-19 02:58:00 2024-08-09 23:01:00

   total_orders  category_variety most_used_payment  days_to_first_purchase  \
0             5                 3            PayPal                     373
1             3                 2     Bank Transfer                       2
2            30                 3     Bank Transfer                     -60
3             8                 3     Bank Transfer                     476
4             5                 2     Bank Transfer                     155

   avg_purchase_gap_days
0              93.250000
1             194.500000
2              22.137931
3              62.285714
4             111.750000

In [35]:
full_data=combined_df

In [ ]:

full_data['age'] = pd.to_numeric(full_data['age'], errors='coerce')


usa_over25 = full_data.loc[(full_data['age'] > 25) & (full_data['country'] == 'USA'), 'customer_id']
print(usa_over25.head())

8      27
13    203
14    899
19     27
23    590
Name: customer_id, dtype: int64

In [ ]:
import time


start = time.time()
loop_result = []
for _, row in full_data.iterrows():
    if row['age'] > 25 and row['country'] == 'USA':
        loop_result.append(row['customer_id'])
end = time.time()
print("Loop time:", end - start, "seconds")


start = time.time()
vec_result = full_data.loc[(full_data['age'] > 25) & (full_data['country'] == 'USA'), 'customer_id']
end = time.time()
print("Vectorized time:", end - start, "seconds")

Loop time: 0.4848043918609619 seconds
Vectorized time: 0.0023381710052490234 seconds

In [40]:
def calc_customer_ltv(tx_df, cust_id, discount=0.1):
    """Estimate lifetime value for one customer with monthly discounting."""
    subset = tx_df[tx_df['customer_id'] == cust_id].copy()
    if subset.empty:
        return 0.0

    subset['timestamp'] = pd.to_datetime(subset['timestamp'])
    subset['month_index'] = ((subset['timestamp'] - subset['timestamp'].min()) / np.timedelta64(30, 'D')).astype(int)

    subset['discount_factor'] = (1 - discount) ** subset['month_index']
    subset['discounted_revenue'] = subset['revenue_amt'] * subset['discount_factor']

    return subset['discounted_revenue'].sum()

clv_101 = calc_customer_ltv(full_data, 101, discount=0.6)
print(f"Customer 101 CLV: â‚¹{clv_101:.2f}")

Customer 101 CLV: â‚¹163.16

In [42]:
pip install rapidfuzz

Collecting rapidfuzz
  Downloading rapidfuzz-3.14.3-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (12 kB)
Downloading rapidfuzz-3.14.3-cp311-cp311-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (3.2 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 3.2/3.2 MB 35.0 MB/s eta 0:00:0000:0100:01
Installing collected packages: rapidfuzz
Successfully installed rapidfuzz-3.14.3
Note: you may need to restart the kernel to use updated packages.

In [ ]:
from rapidfuzz import process, fuzz

def detect_possible_duplicates(cust_df, tx_df):
    """Identify potential duplicate customers via name similarity, email domain, and purchase overlap."""
    cust_df['email_domain'] = cust_df['email'].str.split('@').str[-1]

    
    name_list = cust_df['customer_name'].tolist()
    similarity_matrix = process.cdist(name_list, name_list, scorer=fuzz.token_sort_ratio)
    pairs = [(i, j) for i in range(len(name_list)) for j in range(i + 1, len(name_list))]

    sim_df = pd.DataFrame(pairs, columns=['i', 'j'])
    sim_df['name_score'] = [similarity_matrix[i, j] for i, j in pairs]
    sim_df = sim_df[sim_df['name_score'] > 85]  

    
    merged = sim_df.merge(cust_df[['customer_id', 'email_domain']], left_on='i', right_index=True)
    merged = merged.merge(cust_df[['customer_id', 'email_domain']],
                          left_on='j', right_index=True, suffixes=('_1', '_2'))
    merged['same_domain'] = (merged['email_domain_1'] == merged['email_domain_2']).astype(int)

    
    tx_df['timestamp'] = pd.to_datetime(tx_df['timestamp'])
    temp = tx_df.merge(tx_df, on='product_id', suffixes=('_1', '_2'))
    temp = temp.query('customer_id_1 != customer_id_2')
    temp = temp[abs(temp['timestamp_1'] - temp['timestamp_2']).dt.days <= 7]

    overlap_stats = temp.groupby(['customer_id_1', 'customer_id_2']).size().reset_index(name='txn_overlap')


    final = merged.merge(overlap_stats, how='left', on=['customer_id_1', 'customer_id_2']).fillna({'txn_overlap': 0})
    final['confidence'] = (
        0.5 * (final['name_score'] / 100)
        + 0.3 * final['same_domain']
        + 0.2 * (final['txn_overlap'] > 0).astype(int)
    )

    return final[['customer_id_1', 'customer_id_2', 'name_score', 'same_domain', 'txn_overlap', 'confidence']] \
        .sort_values('confidence', ascending=False)

duplicates = detect_possible_duplicates(cust_df, txn_df)
print(duplicates)

       customer_id_1  customer_id_2  name_score  same_domain  txn_overlap  \
31462            118           1172   96.000000            1          1.0
73383            198           1498   96.000000            1          1.0
72082            195           1985   96.000000            1          1.0
37314            129           1284   96.000000            1          1.0
42598            139           1359   96.000000            1          1.0
...              ...            ...         ...          ...          ...
2707              34             84   85.714287            0          0.0
2706              34             83   85.714287            0          0.0
2705              34             82   85.714287            0          0.0
2704              34             81   85.714287            0          0.0
3587              49            635   85.714287            0          0.0

       confidence
31462    0.980000
73383    0.980000
72082    0.980000
37314    0.980000
42598    0.980000
...           ...
2707     0.428571
2706     0.428571
2705     0.428571
2704     0.428571
3587     0.428571

[214139 rows x 6 columns]